<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- ... -->
{% load static %}
  <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" />

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>